:root {
    --main-color: #ff8100;
    --darker-main-color: #7a3d00;
    --soft-main-color: #ffb983;
    --progress-bar: rgba(255, 125, 0, 0.50);
    --dark-gray-bg: #323232;
    --bg-selection: rgba(51, 51, 51, 0.455);
    --darker-gray-bg: #1c1c1c;
    --soft-white-gray-color: #aaa;
    --just-white: white;
    --just-black: black;
    --danger: #ca0909;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
    /* Navbar */
    .navbar {
        background-color: var(--darker-gray-bg);
        font-size: 25px;
        text-align: center;
        padding-right: 20px;
        position: sticky !important;
        top: 0 !important;
        z-index: 100;
    }

    .logo-nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 20%;
    }

    .navmenu {
        display: none;
    }

    .icons {
        display: inline;
        color: var(--main-color);
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px !important;
        text-decoration: none !important;
        cursor: pointer;
    }

    #blocking {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.37);
        display: none;
        position: fixed;
        cursor: default;
    }

    /* About Section */
    /*===============*/

    /* Profile container */
    .container-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        row-gap: 10px;

        margin-top: 10%;
    }

    .border-box {
        height: 600px;
        width: 100%;
        margin: 100px;
        margin-left: 0px; /* changed */
        padding: 20px;
        position: relative;
        border-bottom: 3px solid var(--main-color);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
        animation: animate 4s linear infinite;
    }

    /* Profile image */
    .img-about {
        display: block;
        width: 50%; /* changed */
        margin-left: 80px; /* changed */
        margin-right: 80px; /* changed */
        margin-top: 50px;
        margin-bottom: 20px;
        border-radius: 50px;
        position: absolute;
        top: 0;
    }

    .fix {
        border-radius: 20%; /* changed */
        width: 80%;
        height: 80%;
    }

    /* Profile description */
    .text {
        font-size: 16px;
        color: var(--main-color);
        text-align: center;
        position: absolute;
        margin-top: 120px; /* changed */
        margin-left: 5px;
    }

    .read_more-btn {
        width: 100%;
        height: 100%;
        margin-left: 0;
        border: 1px solid var(--main-color);
        text-align: center;
        background-color: transparent;
        color: var(--main-color);
        cursor: pointer;
        outline: none;
    }

    /* ABOUT (RIGHT) SIDEBAR */
    /*===================*/

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        

        background-color: var(--dark-gray-bg);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 40px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    }

    .sidebar a {
        display: block;
        padding: 0 8px 0 0;
        margin-top: 60px !important;

        text-decoration: none;
        font-size: 25px;
        color: var(--main-color);
        transition: 0.3s;
    }

    .close-read_more-btn {
        position: absolute;
        z-index: 1;
        top: 0;
        font-size: 36px;
        margin-left: 50px;
        right: -40px;
        margin-top: 120px;
        display: block;
    }

    .sidebar-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px !important;
        align-items: center;
        align-content: center;
        text-align: center;

        height: 210%;
        width: 100%;
        top: 0;
        background-color: var(--darker-gray-bg);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.50);
        overflow: hidden;
    }

    .cv-text {
        font-size: 17px;
        color: var(--main-color);
        text-align: left;
        position: relative;
        padding-right: 100px;
        margin-right: 50px;
    }
    
    .cv-title {
        text-align: center;
        margin-top: -60px;
        right: 17%;
        position: relative;
        padding-top: 350px;
    }

    .mini-box {
        height: 550px;
        width: 500px;
        margin: 20px;
        display: inline-block;
        margin-left: 0;
        top: 0;
        position: relative;
    }

    .certs {
        margin-top: 0;
        height: 20%;
    }

    .softskills {
        margin-top: 0;
    }
    
    .skills {
        
        margin-top: -300px;
    }
    
    .exp {
        margin-top: 0;
    }

    .container-portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px !important;
        align-items: center;
        align-content: center;
        text-align: center;

        margin: 0 auto;
        margin-bottom: 100%;
    }

    .border-box-portfolio {
        width: 100%;
        height: 50%;
        margin-left: 0 auto;
        margin-right: 0 auto;

        padding: 20px;
        position: relative;
        border-bottom: 3px solid var(--main-color);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
        animation: animate 4s linear infinite;
    }

    .tabs {
        height: 60%;
        width: 100%;
        
        margin: 0 auto;
        margin-bottom: 10%;

        position: relative;
        border: none;
    }

    .titles {
        color: var(--main-color);
        text-align: center;
        border-bottom: 1px solid var(--main-color);
    }

    .btn {
        color: var(--main-color) !important;
        display: block;
        margin: 0 auto;
        border: 2px solid var(--main-color) !important;
    }

    .btn2 {
        margin-top: 0% !important;
    }

    .border-box-portfolio-mini {
        width: 100%;
        height: 50%;
        margin-left: 0 auto;
        margin-right: 0 auto;
        
        padding: 20px;
        position: relative;
        border-bottom: 3px solid var(--main-color);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
        animation: animate 4s linear infinite;
    }

    .pj {
        width: 100%;
        height: 60%;
        margin: 0 auto;
        
        display: block;
        position: relative;
    }

    .border-box-portfolio-low {
        height: 300px;
        width: 100%;
        margin-left: 0 auto;
        margin-right: 0 auto;

        padding: 20px;
        position: relative;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    }

    .comp {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #slider::-webkit-slider-thumb,
    #slider2::-webkit-slider-thumb, 
    #slider3::-webkit-slider-thumb, 
    #slider4::-webkit-slider-thumb {  
        -webkit-appearance: slider !important;
                appearance: slider !important;
    }

    .img-space {
        margin: 0 auto;
    }

    .comp-imgs {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }

    .graphics-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px !important;
        align-items: center;
        align-content: center;
        text-align: center;

        margin: 0 auto;
        margin-bottom: 100%;

        width: 100%;
        position: relative;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    }

    .categories {
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 5%;
    }

    .g-images {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .overlay-text-img, .overlay-text-img2 {
        display: none;
    }

    .img-alt {
        font-size: 20px;
        color: var(--main-color);
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-box {
        width: 100%;
        margin: auto;
        display: block;
        position: relative;
    }

    .footer {
        background-color: var(--darker-gray-bg);
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100% !important;
        color: rgba(255, 255, 255, 0.70);
        text-align: center;

        border-top: 3px solid rgba(255, 125, 0, 1);
        padding-bottom: 20%;
        animation: animatedfade 5s linear infinite;
    }

    .socials {
        font-size: 18px;
        position: absolute;
        margin-top: 3%;
        margin-left: -9%;
    }
}